body {
	background-color: #000;
}

body p, a {
	color: #FFF;
	font-family: "Courier New";
	text-decoration: none;
}

.main-text {
	position: absolute;
  	width: 400px;
  	height: 200px;
  	z-index: 15;
  	top: 50%;
  	left: 50%;
  	margin: -100px 0 0 -200px;
  	text-align: center;
}