body {
	background-color: #000;
}

body p, a {
	color: #FFF;
	font-family: "Courier New";
	text-decoration: none;
}

.main-text {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
	height: 100px;
	text-align: center;
	max-width: 100%;
    max-height: 100%;
    overflow: auto;
}